@{
    Layout = "~/Views/Shared/Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        Eventos Recentes
    </div>
    <div class="panel-body">
        <fieldset>
            <legend>Evento</legend>
            evento 01
        </fieldset>
        
        <br />
        <fieldset>
            <legend>Evento</legend>
            evento 02
        </fieldset>
        <br />
    </div>
    <div class="panel-footer">

    </div>
</div>